.form{
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
  
}
.form .formli{
    width: 100%;
    display: block;
    margin: 30px 0;
    
}
.form .formli i{
    width: 60px;
    display: inline-block;
}
.form .formli span{
    margin-left: 5px;
}
.form input{
    width: 220px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    padding: 5px;
    color: #333;
    border-radius: 3px;
}
.tips{
    color: #f40;
    font-size: 14px;
}
.form .btn{
    height: 36px;
    line-height: 36px;
    background-color: sandybrown;
    color: seagreen;
    width: 230px;
    padding: 0;
}
.form .btn:hover{
    background-color: rgb(228, 180, 48);
}